.h1 {
    display: flex;
    position: relative;
}

.h1:after {
    content: '';
    position: absolute;
    width: 4%;
    transform: scaleX(0);
    height: 2px;
    margin-top: 30px;
    background-color: red;
    transform-origin: bottom left;
    transition: transform 0.5s ;
}

.h1:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.h2 {
    display: flex;
    position: relative;
}
.h2:after {
    content: '';
    position: absolute;
    width: 4%;
    transform: scaleX(0);
    height: 2px;
    margin-top: 30px;
    background-color: red;
    transform-origin: bottom center;
    transition: transform 0.5s ;
}
.h2:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}
.h3 {
    display: flex;
    position: relative;
}
.h3:after {
    content: '';
    position: absolute;
    width: 4%;
    transform: scaleY(0);
    height: 30px;
    background-color: red;
    opacity: 0.8;
    transform-origin: bottom;
    transition: transform 0.5s ;
}
.h3:hover:after {
    transform: scaleY(1);
    transform-origin: bottom;
}